.image {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.blog {
  max-height: 400px;
  max-width: 600px;
}

[data-theme="light"] .image {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-600);
}

[data-theme="dark"] .image {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-1000);
}

.caption {
  margin-bottom: 2rem;
  text-align: center;
  font-style: italic;
  font-size: 17px;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: var(--ifm-footer-background-color);
}
