.button {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  text-decoration: none !important;
  font-weight: 500;
  padding: 0.1rem;
  text-align: center;
  transition-duration: 0.4s;
}

.buttonSvg {
  fill: #ff5656;
}

.buttonSvg2 {
  fill: var(--ifm-color-primary-dark);
}

[data-theme="light"] .button {
  box-shadow: 0 2px 5px 2px var(--ifm-color-gray-100);
  border: 1px solid #222222;
  color: var(--ifm-color-gray-800);
}

[data-theme="light"] .button:hover {
  border: 1px solid var(--ifm-color-primary-dark);
  color: var(--ifm-color-primary-dark);
}

[data-theme="dark"] .button {
  box-shadow: 0 2px 5px 2px var(--ifm-color-gray-1000);
  border: 1px solid #222222;
  color: var(--ifm-color-gray-200);
}

[data-theme="dark"] .button:hover {
  border: 1px solid var(--ifm-color-primary-light);
  color: var(--ifm-color-primary-light);
}
