.main-wrapper {
  &__intro {
    margin-top: 24px;

    @media (--sm-min) {
      margin-top: 32px;
    }

    @media (---md-min) {
      margin-top: 48px;
    }

    @media (--lg-min) {
      margin-top: 64px;
    }
  }
}
