:root {
  @media (--lg-min) {
    --text-headline-xxl-font-size: 70px;
    --text-headline-xxl-line-height: calc(80.5 / 70);
    --text-headline-xxl-letter-spacing: -0.02em;

    --text-headline-xl-font-size: 50px;
    --text-headline-xl-line-height: calc(60 / 50);
    --text-headline-xl-letter-spacing: -0.02em;

    --text-headline-l-font-size: 36px;
    --text-headline-l-line-height: calc(40 / 36);
    --text-headline-l-letter-spacing: -0.02em;

    --text-headline-m-font-size: 24px;
    --text-headline-m-line-height: calc(26 / 24);
    --text-headline-m-letter-spacing: -0.02em;

    --text-headline-s-font-size: 18px;
    --text-headline-s-line-height: calc(20 / 18);
    --text-headline-s-letter-spacing: -0.02em;

    /* in design no styles for h6, so do in my way */
    --text-headline-xs-font-size: 16px;
    --text-headline-xs-line-height: calc(18 / 16);
    --text-headline-xs-letter-spacing: -0.02em;
  }
}
