/**
 * Features
 */
.featureItem {
  border-radius: 10px 10px 10px 10px;
  padding: 1rem;
}

[data-theme="light"] .featureItem {
  border: 2px solid transparent;
}

[data-theme="dark"] .featureItem {
  border: 2px solid transparent;
}

[data-theme="light"] .featureItem:hover {
  border: 2px solid var(--ifm-color-black);
}

[data-theme="dark"] .featureItem:hover {
  border: 2px solid var(--ifm-color-white);
}

[data-theme="light"] .featureItem a,
[data-theme="light"] .featureItem a:hover {
  color: var(--ifm-color-gray-1000);
}

[data-theme="dark"] .featureItem a,
[data-theme="dark"] .featureItem a:hover {
  color: var(--ifm-color-gray-100);
}

/**
 * SVG
 */
.pluginSvg {
  height: 150px;
  width: 150px;
}

/**
 * Button
 */
.getStarted {
  border-radius: 10px 10px 10px 10px;
  color: var(--ifm-color-white);
  border-color: #ff5656;
  background-color: #ff5656;
  transition: transform 0.3s ease-in-out;
}

.getStarted:hover {
  transform: scale(1.05);
}

/**
 * Why inside the Box
 */
.whyBox {
  padding: 0;
  border-radius: 10px 10px 10px 10px;
}

[data-theme="light"] .whyBox {
  border: 2px solid var(--ifm-color-black);
}

[data-theme="dark"] .whyBox {
  border: 2px solid var(--ifm-color-white);
}

.whyBox img {
  height: 100%;
}

/**
 * Header with line
 */
[data-theme="light"] .header {
  width: 100%;
  border-bottom: 2px solid var(--ifm-color-black);
  line-height: 0.1em;
}

[data-theme="dark"] .header {
  width: 100%;
  border-bottom: 2px solid var(--ifm-color-white);
  line-height: 0.1em;
}

[data-theme="light"] .header span {
  background: var(--ifm-color-white);
  padding-right: 20px;
}

[data-theme="dark"] .header span {
  background: var(--ifm-background-color);
  padding-right: 20px;
}

.plugin {
  margin: 0 auto;
  border-radius: 10px;
  width: 500px;
  height: 320px;
  object-fit: fill;
}

[data-theme="light"] .plugin {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-600);
}

[data-theme="dark"] .plugin {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-1000);
}

/**
 * Business Intelligence Image
 */
.big {
  display: block;
  border-radius: 10px;
}

[data-theme="light"] .big {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-600);
}

[data-theme="dark"] .big {
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-1000);
}

.headerImage,
.big {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
