/**
 * Features
 */
.featureItem {
  border: 2px solid var(--ifm-color-white);
}

.featureItem:hover {
  border: 2px solid var(--ifm-color-black);
}

.featureItem a,
.featureItem a:hover {
  color: var(--ifm-color-gray-1000);
}

/**
 * SVG
 */
.featureSvg {
  height: 100px;
  width: 100px;
}

.pluginSvg {
  height: 150px;
  width: 150px;
}

/**
 * Button
 */
.getStarted {
  border-radius: 0px;
  border-color: #9d70f9;
  background-color: #9d70f9;
}

/**
 * Why inside the Box
 */
.whyBox {
  border: 2px solid var(--ifm-color-black);
  background-color: white;
  padding: 0;
}

.whyBox img {
  height: 100%;
}

/**
 * Header with line
 */
.header {
  width: 100%;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
}

.header span {
  background: #fff;
  padding-right: 20px;
}

.bodyImage {
  background-image: url(/static/img/bg.svg);
  background-repeat: no-repeat;
  background-position-y: 25rem;
}