/**
 * Features
 */
.features {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 2rem 0;
  width: 100%;
}

.featureItem {
  border: 2px solid var(--ifm-color-white);
}

.featureItem:hover {
  border: 2px solid var(--ifm-color-black);
}

.featureItem a,
.featureItem a:hover {
  color: var(--ifm-color-gray-1000);
}

/**
 * SVG
 */
.featureSvg {
  height: 100px;
  width: 100px;
}

.pluginSvg {
  height: 150px;
  width: 150px;
}

/**
 * Button
 */
.getStarted {
  border-radius: 0px;
  border-color: #ff5656;
  background-color: #ff5656;
}

/**
 * Why inside the Box
 */
.whyBox {
  border: 2px solid var(--ifm-color-black);
  padding: 0;
}

.whyBox img {
  height: 100%;
}

/**
 * Header with line
 */
.header {
  width: 100%;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
}

.header span {
  background: #fff;
  padding: 0 20px;
}
