/**
 * Features
 */
.features {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 2rem 0;
  width: 100%;
}

/**
 * Feature Items
 */
.featureItem:hover {
  border: 2px solid var(--ifm-color-black);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 60px 50px rgba(0, 0, 0, 0.12);
}

.featureItem a,
.featureItem a:hover {
  color: var(--ifm-color-gray-1000);
}

/**
 * SVG
 */
.featureSvg {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

/**
 * PNG
 */
.featurePng {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

/**
 * Hero Banner
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStarted {
  border-radius: 0px;
  border-color: #ff5656;
  background-color: #ff5656;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-alpha-05);
}

.sectionDark {
  background-color: var(--ifm-color-primary);
}

.sectionDarkLight {
  background-color: var(--ifm-color-primary);
}

.sectionDarkTitle {
  color: var(--ifm-color-white);
}

.sectionDark a,
.sectionDark a:hover {
  color: var(--ifm-color-gray-1000);
}

/**
 * Waves
 */
.waves {
  fill: var(--ifm-color-primary);
  fill-opacity: 1;
}
