/**
 * Features
 */
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

/**
 * SVG
 */
.featureSvg {
  height: 200px;
  width: 200px;
}

/**
 * PNG
 */
.featurePng {
  height: 200px;
  width: 200px;
}
