.post {
  --content-padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

[data-theme='light'] .post {
  background: var(--ifm-color-gray-200);
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-600);
}

[data-theme='dark'] .post {
  background: var(--ifm-color-gray-900);
  box-shadow: 0 5px 15px 5px var(--ifm-color-gray-1000);
}

[data-theme='light'] .post:hover {
  text-decoration: none;
  background: var(--ifm-color-gray-300);
}

[data-theme='dark'] .post:hover {
  text-decoration: none;
  background: var(--ifm-color-gray-800);
}

.imageBoxSmall {
  position: relative;
  margin-bottom: 1rem;
  height: 170px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.imageBoxMedium {
  position: relative;
  margin-bottom: 1.5rem;
  height: 220px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.image {
  display: block;
  height: 100%;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--content-padding);
  margin-bottom: 1rem;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  height: 120px;
  overflow: hidden;
  margin: 0;
  padding: 0 var(--content-padding) 1rem;
}

.author {
  margin-top: auto;
  padding: 0 var(--content-padding) var(--content-padding);
}